<%= form_with(model: attendance_track, local: true) do |form| %>
  <% if attendance_track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance_track.errors.count, "error") %> prohibited this attendance_track from being saved:</h2>

      <ul>
        <% attendance_track.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_at %>
    <%= form.date_select :start_at %>
  </div>

  <div class="field">
    <%= form.label :end_at %>
    <%= form.date_select :end_at %>
  </div>

  <div class="field">
    <%= form.label :user_project_id %>
    <%= form.text_field :user_project_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
