<h1><%= t('.title') %></h1>

<%= form_with(model: @attendance_track, url: user_project_attendance_track_path(@user_project, @attendance_track), local: true) do |form| %>

  <div class="field">
    <%= form.label :start_at %>
    <%= form.time_select :start_at, required :true %>
  </div>

  <div class="field">
    <%= form.label :end_at %>
    <%= form.time_select :end_at, include_blank: "" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to t('helpers.links.back'), :back %>
