<h1>実績</h1>

<p id="notice"><%= notice %></p>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
  <%= @user_project.project.name %>
  </button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <% @user_projects.each do |user_project| %>
        <li><a class="dropdown-item" href="../<%= user_project.id %>/attendance_tracks" data-turbolinks="false"><%= user_project.name %></a></li>
    <% end %>
  </ul>
</div>

<% if @attendance_tracks.length > 0 %>

<table class="table">
    <thead>
        <tr>
            <th>日付</th>
            <th>実績</th>
            <th>稼働時間</th>
            <th>編集</th>
        </tr>
    </thead>
    <tbody>
        <% @monthly_tracks.each do |monthly_track| %>
            <%# 最初は月の数字が入ってるのでdrop(1)してattendance_tracksを取得する %>
            <% monthly_track.drop(1).each do |daily_tracks| %>
                <%# 日付ごとにグループ化する %>
                <% daily_tracks.group_by{|p| p.start_at.in_time_zone('Tokyo').day}.sort.reverse.each do |tracks| %>
                    <tr>
                        <%# 日付 %>
                        <td><%= monthly_track.first %>月<%= tracks.first %>日</td>
                        <td>
                            <%# 実績 %>
                            <% tracks.second.sort{|a, b| a[:start_at] <=> b[:start_at] }.each do |track| %>
                                <%= track.time %><br>
                            <% end %>
                        </td>
                        <td>
                            <%# 稼働時間を算出 %>
                            <% sum = tracks.second.map{|p| p.duration_minutes }.sum %>
                            <%= (sum/60/60).round %>時間<%= (sum/60%60).round %>分
                        </td>
                        <%# 打刻修正・日報 %>
                        <td>
                        <%# 該当日時で絞り込みする %>
                        <%= search_form_for @q, url: search_user_project_attendance_tracks_path(@user_project) do |f| %>
                            <%= f.hidden_field :start_at_gteq, :value => tracks.second.first.start_at.in_time_zone('Tokyo').beginning_of_day %>
                            <%= f.hidden_field :start_at_lteq, :value => tracks.second.first.start_at.in_time_zone('Tokyo').end_of_day %>
                            <%= f.submit '打刻修正' %>
                        <% end %>
                        </td>
                    </tr>
                <% end %>
            <% end %>
        <% end %>
    </tbody>
</table>

<% else %>

<p>実績がありません。</p>

<% end %>
