<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
  <%= @user_project.project.name %>
  </button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <% @user_projects.each do |user_project| %>
        <% if @user_project.did_enter_finish then %>
            <%# turbolinksを切らないとリンク先に移動した後ドロップダウンが開かなくなる %>
            <li><a class="dropdown-item" href="../../<%= user_project.id %>/attendance_tracks/top" data-turbolinks="false"><%= user_project.project.name %></a></li>
        <% else %>
            <li><a class="dropdown-item" data-turbolinks="false" onclick="alert('勤務を終了してください')"><%= user_project.project.name %></a></li>
        <% end %>
    <% end %>
  </ul>
</div>

<p id="notice"><%= notice %></p>

<h1 class="row">
    <div id="hour" class="col-1"></div>:<div id="min" class="col-1"></div>:<small id="sec"></small>
</h1>

<div class="row">
    <%= button_to "開始", register_start_at_user_project_attendance_tracks_url, { disabled: !@attendance_track.id.nil? } %>
    <% if (@attendance_track.id.nil?) %>
        <%= button_to "終了", register_start_at_user_project_attendance_tracks_url, disabled: true %>
    <% else %>
        <%= button_to "終了", register_end_at_user_project_attendance_track_url(@user_project, @attendance_track), { method: :put, disabled: false } %>
    <% end %>
</div>

<script src="/packs/js/timer.js"></script>
<script type="text/javascript">

// 保留↓ ajax is not defined　のエラーが出る
function finishToMove(end_at, user_project_id) {
    if (confirm("現在のプロジェクトを終了してもよろしいですか？")){

        $ajax({
            // 呼び出したいコントローラーのactionまでのパス
            url: '/attendance_track/register_end_at',
            // メソッド
            type: 'PUT',
            // コントローラー側がparams[:end_at]で受け取るデータ
            data: { end_at: end_at },
        })
        .done(function(response){
            // 成功時の処理
            window.location.href = `../../${user_project_id}/attendance_tracks/top`
        })
        .fail(function(xhr){
            // 失敗時の処理
            alert('終了できませんでした。')
        });
    };
}

</script>