<%= form_with(model: contract, local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
        <% contract.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_project_id %>
    <%= form.text_field :user_project_id %>
  </div>

  <div class="field">
    <%= form.label :wage %>
    <%= form.number_field :wage %>
  </div>

  <div class="field">
    <%= form.label :wage_per %>
    <%= form.text_field :wage_per %>
  </div>

  <div class="field">
    <%= form.label :hours_per_month %>
    <%= form.number_field :hours_per_month %>
  </div>

  <div class="field">
    <%= form.label :start_at %>
    <%= form.date_field :start_at %>
  </div>

  <div class="field">
    <%= form.label :end_at %>
    <%= form.date_field :end_at %>
  </div>

  <div class="field">
    <%= form.label :daily_reports_required %>
    <%= form.check_box :daily_reports_required %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role %>
  </div>

  <div class="field">
    <%= form.label :under_contract %>
    <%= form.check_box :under_contract %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
