<h1><%= t('.title') %></h1>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= form_with(model: @contract, url: create_employee_assignment_company_contracts_url(@company, @project), local: true) do |form| %>

  <div class="field">
    <%= form.label "名前" %>
    <%= form.collection_select :user, @company.users.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :start_at %>
    <%= form.date_select :start_at, required: true %>
  </div>

  <div class="field">
    <%= form.label :end_at %>
    <%= form.date_select :end_at, include_blank:"" %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role, required: true, maxlength:"255"%>
  </div>

  <div class="field">
    <%= form.label :daily_reports_required %>
    <%= form.radio_button :daily_reports_required, true %>要
    <%= form.radio_button :daily_reports_required, false %>不要
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
