<p id="success"><%= success %></p>

<p>
  <strong>User project:</strong>
  <%= @contract.user_project_id %>
</p>

<p>
  <strong>Wage:</strong>
  <%= @contract.wage %>
</p>

<p>
  <strong>Wage per:</strong>
  <%= @contract.wage_per %>
</p>

<p>
  <strong>Hours per month:</strong>
  <%= @contract.hours_per_month %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @contract.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @contract.end_at %>
</p>

<p>
  <strong>Daily reports required:</strong>
  <%= @contract.daily_reports_required %>
</p>

<p>
  <strong>Role:</strong>
  <%= @contract.role %>
</p>

<p>
  <strong>Under contract:</strong>
  <%= @contract.under_contract %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
