<h2>従業員編集</h2>

<p id="alert"><%= alert %></p>

<%= form_for(resource, as: resource_name, url: companies_update_employee_path(@company, resource), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", required: true, maxlength:"30" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, maxlength:"255" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to t('helpers.links.back'), companies_users_path(@user) %>
