<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://img.freepik.com/free-vector/sign-page-abstract-concept-illustration_335657-2242.jpg?t=st=1654060037~exp=1654060637~hmac=a4feb16ab011d858363fb15a89115aeb307803d61fa7406ed6e7fce43eb40948&w=740"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="divider d-flex align-items-center my-4">
              <h4 class="text-center fw-bold mx-3 mb-0">アカウント編集</h4>
          </div>

          <div class="form-outline mb-3">
            <%= f.text_field :name, class:"form-control", autofocus: true, autocomplete: "name", placeholder:"ユーザー名", required: true, maxlength: "30" %>
          </div>

          <div class="form-outline mb-3">
            <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email", placeholder:"メールアドレス", required: true, maxlength:"255" %>
          </div>

          <div class="form-outline mb-3">
            <%= f.label "パスワード（変更しない場合は空にしてください）" %>
            <%= f.password_field :password, class:"form-control", autocomplete: "new-password", required: true, maxlength:"255",minlength: "6"%>
          </div>

          <div class="form-outline mb-3">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password", required: true, maxlength:"255",minlength: "6"%>
          </div>

          <div class="form-outline mb-3">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, class:"form-control", autocomplete: "current-password", required: true, maxlength:"255", minlength: "6"%>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <%= f.submit "更新", class:"btn btn-primary text-white btn-lg", style:"padding-left: 2.5rem; padding-right: 2.5rem;" %>
            <p class="small fw-bold mt-2 pt-1 mb-0">
            <%= link_to t('helpers.links.back'), user_path(resource) %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<link href="login.scss" rel="stylesheet">