<h2>新規従業員作成</h2>

<%= form_for(resource, as: resource_name, url: companies_create_employee_url) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", required: true, maxlength:"30"%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, maxlength:"30" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to t('helpers.links.back'), companies_users_path(@company) %>

