<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://img.freepik.com/free-vector/choosing-best-candidate-concept_52683-43377.jpg?t=st=1654056349~exp=1654056949~hmac=f5f45c4a6fac5044a5198bf56f502d4b345e9ae709b7baa82e0d946eea39e455&w=900"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

        <%= form_for(@user, url: users_create_admin_session_path) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="divider d-flex align-items-center my-4">
              <h4 class="text-center fw-bold mx-3 mb-0">管理者ログイン</h4>
          </div>

          <div class="form-outline mb-3">
            <input class="form-control" type="number" name="company_id" placeholder="企業ID" />
          </div>

          <div class="form-outline mb-3">
            <%= f.email_field :email, id:"form3Example3", class:"form-control", autofocus: true, autocomplete: "email", placeholder:"メールアドレス", required: true, maxlength:"255" %>
          </div>

          <div class="form-outline mb-3">
            <%= f.password_field :password, id:"form3Example4", class:"form-control", autocomplete: "current-password", placeholder:"パスワード", required: true, maxlength:"255",minlength: "6"%>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="d-flex justify-content-between align-items-center">
              <div class="form-check mb-0">
                <%= f.check_box :remember_me, class:"form-check-input me-2", id:"form2Example33" %>
                <%= f.label :remember_me, class:"form-check-label", for:"form2Example33" %>
              </div>
              <%= link_to "パスワード再発行", new_password_path(resource_name) %><br />
            </div>
          <% end %>

          <div class="text-center text-lg-start mt-4 pt-2">
            <%= f.submit "ログイン", class:"btn btn-primary text-white btn-lg", style:"padding-left: 2.5rem; padding-right: 2.5rem;" %>
            <p class="small fw-bold mt-2 pt-1 mb-0">
            <%= link_to "従業者の方はこちら", companies_employee_login_path %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<link href="login.scss" rel="stylesheet">

