<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://img.freepik.com/free-vector/illustrated-people-remote-working_23-2148825432.jpg?t=st=1654058220~exp=1654058820~hmac=c0b106bf04640d22c15faae62c673850b688173e045d1099a1b7ee0f1970909e&w=740"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="divider d-flex align-items-center my-4">
              <h4 class="text-center fw-bold mx-3 mb-0">ログイン</h4>
          </div>

          <div class="form-outline mb-4">
            <%= f.email_field :email, id:"form3Example3", class:"form-control", autofocus: true, autocomplete: "email", placeholder:"メールアドレス", required: true, maxlength:"255" %>
          </div>

          <div class="form-outline mb-3">
            <%= f.password_field :password, id:"form3Example4", class:"form-control", autocomplete: "current-password", placeholder:"パスワード", required: true, maxlength:"255",minlength: "6"%>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="d-flex justify-content-between align-items-center">
              <div class="form-check mb-0">
                <%= f.check_box :remember_me, class:"form-check-input me-2", id:"form2Example33" %>
                <%= f.label :remember_me, class:"form-check-label", for:"form2Example33" %>
              </div>
              <%= link_to "パスワード再発行", new_password_path(resource_name) %><br />
            </div>
          <% end %>

          <div class="text-center text-lg-start mt-4 pt-2">
            <%= f.submit "ログイン", class:"btn btn-primary btn-lg", style:"padding-left: 2.5rem; padding-right: 2.5rem;" %>
            <p class="small fw-bold mt-2 pt-1 mb-0">アカウントをお持ちでない方は 
            <%= link_to "新規会員登録", new_registration_path(resource_name), class:"link-danger" %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<link href="login.scss" rel="stylesheet">