<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-11 mx-auto">
            <div class="row mt-4 align-items-center">
              <div class="col-3"><h1><%= t('.title') %></h1></div>
              <div class="col-3"><%= link_to "新規アサイン", assign_company_path(@company), class:"btn btn-primary text-white btn-sm my-5"%></div>
            </div>

          <table class="table">
            <thead class="thead-light">
              <tr>
                <th><%= Project.human_attribute_name :name %></th>
                <th><%= Project.human_attribute_name :billing_destination_email %></th>
                <th><%= Project.human_attribute_name :billing_destination_manager %></th>
                <th><%= Project.human_attribute_name :budget %></th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><%= @project.name %></td>
                <td><%= @project.billing_destination_email %></td>
                <td><%= @project.billing_destination_manager %></td>
                <td><%= @project.budget %>万円</td>
              </tr>
            </tbody>
          </table>
          
          <div class="mb-5 mt-2">
            <h4><%= Project.human_attribute_name :schedule %></h4>
            <%= @project.schedule %>
          </div>

          <% if @employees.length > 0 %>

            <h2 class="my-5 text-center">社員</h2>

            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th><%= User.human_attribute_name :name %></th>
                  <th><%= Contract.human_attribute_name :role %></th>
                  <th>期間</th>
                  <th><%= Contract.human_attribute_name :daily_reports_required %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @employees.each do |employee| %>
                  <tr style="cursor: hand; cursor:pointer;", onclick="window.location = './<%= @project.id %>/users/<%= employee.user_id %>'">
                    <td><%= employee.name %></td>
                    <td><%= employee.role %></td>
                    <td><%= employee.start_at %>～<%= employee.end_at %></td>
                    <td><%= employee.daily_reports_required ? "要" : "不要" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          <% end %>

          <% if @not_employees.length > 0 %>

            <h2 class="my-5 text-center">社外メンバー</h2>

            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th><%= User.human_attribute_name :name %></th>
                  <th><%= Contract.human_attribute_name :role %></th>
                  <th><%= Contract.human_attribute_name :wage %></th>
                  <th><%= Contract.human_attribute_name :hours_per_month %></th>
                  <th>期間</th>
                  <th><%= Contract.human_attribute_name :daily_reports_required %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @not_employees.each do |user| %>
                  <tr style="cursor: hand; cursor:pointer;", onclick="window.location = './<%= @project.id %>/users/<%= user.user_id %>'">
                    <td><%= user.name %></td>
                    <td><%= user.role %></td>
                    <td><%= user.wage %>円/<%= user.wage_per %></td>
                    <td><%= user.hours_per_month %>時間</td>
                    <td><%= user.start_at %>～<%= user.end_at %></td>
                    <td><%= user.daily_reports_required ? "要" : "不要" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>

          <%= link_to t('helpers.links.back'), company_projects_path(@company), class:"btn btn-outline-secondary text-black my-5" %>
        </div>
    </div>
</div>