<%# 管理者ログイン時navigation %>

<ul class="navbar-nav ml-auto">
    <li class="nav-item">
    <%# 打刻 %>
    <% if current_user.user_projects.empty? %>
        <a class="nav-link" href="#" onclick="alert('一つ以上の案件にアサインしてください')">打刻</a>
    <% else %>
        <a class="nav-link" href="/user_projects/<%= current_user.user_projects.first.id %>/attendance_tracks/top" data-turbolinks="false">打刻</a>
    <% end %>
    </li>
    <%# 実績 %>
    <li class="nav-item">
        <% if current_user.user_projects.empty? %>
            <a class="nav-link" href="#" onclick="alert('一つ以上の案件にアサインしてください')">実績</a>
        <% else %>
            <a class="nav-link" href="/user_projects/<%= current_user.user_projects.first.id %>/attendance_tracks" data-turbolinks="false">実績</a>
        <% end %>    
    </li>
    <%# 申請 %>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="alert('準備中です')">
        申請
        </a>
    </li>
    <%# 案件一覧 %>
    <li class="nav-item">
        <a class="nav-link" href="/companies/<%= current_user.company.id %>/projects">案件一覧</a>
    </li>
    <%# 従業員一覧 %>
    <li class="nav-item">
        <a class="nav-link" href="/companies/<%= current_user.company.id %>/users">従業員一覧</a>
    </li>
    <%# ログアウト %>
    <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, {method: "delete", class: "nav-link"} %>
    </li>
</ul>